<%- include(`partials/header`) %>

<h1>home</h1>
<p><%= homeStartingContent %></p>
<% articles.forEach(i => { %>
    <h1><%= i.title %></h1>
    <p><%= i.content.substr(0,100).concat(" ... ") %><a href="<%= "/posts/"+i.title %>">Read More</a></p>
<% }); %>
    
<%- include('partials/footer') %>